   @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
   
*{
    margin: 0;
    padding: 0;
}
   
   body{
        background-color: rgb(255, 145, 0);
        color: rgb(52, 49, 216);
    }

    .cabecalho{
        background-color: rgb(216, 216, 216);
        text-align: center;
        padding: 30px;
        font-size: 40px;
          font-family: "Cinzel", serif;
    }
    img{
        width: 410px;
        height: 410px;
    }
    main{
         color:blue;
         max-width: 800px;
         margin: 0 auto;
         padding: 16px;
    }
article{
    display:flex;
    background-color: rgb(245, 245, 245);
    align-items: center;
    padding: 24px;
}  
button{
     background-color: aquamarine;
     color: blanchedalmond;
     padding: 32px;
     border: radius 20px;
}